parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Infrastructure/Auth/MySqlUserRepository.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 3
			path: src/Infrastructure/Auth/MySqlUserRepository.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Offset 'domain' on array\\{lifetime\\: int\\<0, max\\>, path\\: non\\-falsy\\-string, domain\\: string, secure\\: bool, httponly\\: bool, samesite\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Offset 'httponly' on array\\{lifetime\\: int\\<0, max\\>, path\\: non\\-falsy\\-string, domain\\: string, secure\\: bool, httponly\\: bool, samesite\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Offset 'path' on array\\{lifetime\\: int\\<0, max\\>, path\\: non\\-falsy\\-string, domain\\: string, secure\\: bool, httponly\\: bool, samesite\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Offset 'samesite' on array\\{lifetime\\: int\\<0, max\\>, path\\: non\\-falsy\\-string, domain\\: string, secure\\: bool, httponly\\: bool, samesite\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Offset 'secure' on array\\{lifetime\\: int\\<0, max\\>, path\\: non\\-falsy\\-string, domain\\: string, secure\\: bool, httponly\\: bool, samesite\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Parameter \\#1 \\$name of function setcookie expects string, string\\|false given\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Parameter \\#3 \\$options of function setcookie expects array\\{expires\\?\\: int, path\\?\\: string, domain\\?\\: string, secure\\?\\: bool, httponly\\?\\: bool, samesite\\?\\: 'Lax'\\|'lax'\\|'None'\\|'none'\\|'Strict'\\|'strict'\\}, array\\{expires\\: int\\<\\-41999, max\\>, path\\: non\\-falsy\\-string, domain\\: string, secure\\: bool, httponly\\: bool, samesite\\: string\\} given\\.$#"
			count: 1
			path: src/Infrastructure/Auth/SessionManager.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 2
			path: src/Infrastructure/Error/ErrorHandler.php

		-
			message: "#^Offset 'file' on array\\{type\\: 1\\|4\\|16\\|64, message\\: string, file\\: string, line\\: int\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Error/ErrorHandler.php

		-
			message: "#^Offset 'line' on array\\{type\\: 1\\|4\\|16\\|64, message\\: string, file\\: string, line\\: int\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Error/ErrorHandler.php

		-
			message: "#^Offset 'message' on array\\{type\\: 1\\|4\\|16\\|64, message\\: string, file\\: string, line\\: int\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Error/ErrorHandler.php

		-
			message: "#^Offset 'type' on array\\{type\\: 1\\|4\\|16\\|64, message\\: string, file\\: string, line\\: int\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Infrastructure/Error/ErrorHandler.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: src/Infrastructure/Error/ErrorHandler.php

		-
			message: "#^Cannot access offset 'context' on mixed\\.$#"
			count: 1
			path: tests/Infrastructure/Logging/LoggerTest.php

		-
			message: "#^Cannot access offset 'env' on mixed\\.$#"
			count: 1
			path: tests/Infrastructure/Logging/LoggerTest.php

		-
			message: "#^Cannot access offset 'level' on mixed\\.$#"
			count: 1
			path: tests/Infrastructure/Logging/LoggerTest.php

		-
			message: "#^Cannot access offset 'message' on mixed\\.$#"
			count: 1
			path: tests/Infrastructure/Logging/LoggerTest.php
